[submodule "NPLRuntime"]
	path = NPLRuntime
	url = https://github.com/LiXizhi/NPLRuntime
[submodule "npl_packages/AutoUpdater"]
	path = npl_packages/AutoUpdater
	url = https://github.com/NPLPackages/AutoUpdater.git
	branch = master
